# ================= Backend (Node.js) =================
backend/node_modules/
backend/.env
backend/database/*.sqlite
backend/database/*.sqlite-shm
backend/database/*.sqlite-wal
backend/uploads/*
!backend/uploads/.gitkeep
backend/npm-debug.log*

# ================= Flutter / Dart =================
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/android/.gradle
mobile/android/app/debug
mobile/android/app/profile
mobile/android/app/release
mobile/android/local.properties
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/*.iml

# ================= IDE / OS =================
.vscode/
.idea/
.DS_Store
Thumbs.db
